body {
  background-color: rgb(191, 168, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.main {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  width: 300px;
  background-color: rgb(213, 86, 86);
  min-height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
input {
  width: 80%;
  height: 20px;
  margin-bottom: 20px;
  border: none;
  margin: 0px;
}
input {
  border: none;
}
input:focus {
  outline: none;
}
.addImg {
  height: 20px;
  margin: 0 px;
}
.inputField {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.inputField:hover {
  border: 1px solid black;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30px;
  margin-top: 3px;
  padding-left: 10px;
  border-bottom: 1px solid #fff;
}
.iconchecked {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  width: 80%;
  height: 30px;
  margin-top: 3px;
  padding-left: 10px;

  text-decoration: line-through;
}

.directionRight {
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.directionLeft {
  margin-top: 3px;
  width: 29px;
  height: 29px;
}
.textAndCheck {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 10px;
}
button {
  background-color: #fff;
  border-radius: 10px;
  width: 70px;
}
